body{
	background-image: url("desk-laptop-notebook-7098.jpg");
	background-blend-mode: normal;
	background-size: cover;
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}
h1{
	color: #000003;
	font-family: georgia;
	font-size: 50px;
	text-align: center;
	border: dashed 3px blue;
	border-radius: 30px;
	margin: 60px 200px;
}
form{
	background-color: rgba(6, 6, 25,0.5);
	border-radius: 10px;
	text-align: left;
	align-content: center;
	align-items: center;
	padding: 10px 40px;
	margin: 2% 30%;
	width: 30%;
}
a{
	border: 3px dotted #0F0F2A; 
	border-radius: 40px;
	padding: 4px;
	margin: 5px 15px;
}

input, textarea, select, button {
  font-family: sans-serif;
  font-size: 100%;
  width : 100%;
  margin: 0;
  text-align: left; 
  border-radius: 20px;
  

  -webkit-box-sizing: border-box;  /*For legacy WebKit based browsers */
     -moz-box-sizing: border-box;  /*For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

/*.first .last .email .pass .bday .gender {
	padding: 20px 100px;
	text-align: justify;
}
*/